.dash {
  background-color: #292626;
  height: 200vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.content {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr minmax(0, auto);
  position: relative;
  &-left {
    position: relative;
  }
}

.quiz-wrapper {
  margin: 0 auto;
  margin-top: 5px;
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 5%) 0px 30px 60px -12px inset,
    rgb(0 0 0 / 30%) 0px 18px 36px -18px inset;
  width: 74%;
  height: 60%;
}
.wave {
  position: fixed;
  bottom: 0px;
  width: 100%;
  animation: appear 1s;
}

.sidepanel {
  height: 100%;
  width: 0;
  background-color: #222020;
  box-shadow: rgba(46, 204, 240, 0.1) -5px 0px,
    rgba(46, 204, 240, 0.05) -10px 0px;

  &.open {
    width: 300px;
  }
}

.background {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
  backdrop-filter: blur(4px);
}
.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fire {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.error {
  position: fixed;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6618d2;
  font-size: 40px;
  font-weight: 900;
  width: 100%;
  height: 100%;
}
@keyframes appear {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}

.switch {
  position: absolute;
  display: inline-block;
  margin: 0 5px;
  right: 20px;
  top: 20px;
}

.switch > span {
  position: absolute;
  top: 14px;
  pointer-events: none;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
  color: #2bbad7dd;
}

input.check-toggle-round-flat:checked ~ .on {
  color: #fff;
}

.switch > span.on {
  left: 0;
  padding-left: 2px;
  color: #2bbad7dd;
}

.switch > span.off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 2px;
  width: 100px;
  height: 35px;
  background-color: rgba(101, 206, 210, 0.867);
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:before,
input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #2bbad7dd;

  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #fff;
  box-shadow: 2px 2px 2px #00000042;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label {
}

input.check-toggle-round-flat:checked + label:after {
  margin-left: 44px;
}
