<div class="dash">
  <app-navbar #nav></app-navbar>
  <div class="content">
    <div class="content-left">
      <app-progressbar></app-progressbar>
      <div class="quiz-wrapper">
        <app-test></app-test>
      </div>
    </div>
    <div class="content-right">
      <div class="sidepanel" [ngClass]="{ open: nav.showFiller }">
        <app-dictionary></app-dictionary>
      </div>
    </div>
  </div>
  <app-wave
    class="wave"
    *ngIf="(testState.testState | async) !== false"
  ></app-wave>
  <app-fire
    class="fire"
    *ngIf="(testState.testState | async) === false"
  ></app-fire>
  <app-wave class="wave"></app-wave>
  <div *ngIf="loading" class="background centered-flex">
    <app-loader></app-loader>
  </div>
</div>
