.dash {
  background-color: #292626;
  height: 1000px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.content {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr minmax(0, auto);
  position: relative;
}

.quiz-wrapper {
  margin: 0 auto;
  margin-top: 5px;
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 5%) 0px 30px 60px -12px inset,
    rgb(0 0 0 / 30%) 0px 18px 36px -18px inset;
  width: 74%;
  height: 60%;
}
.wave {
  position: fixed;
  bottom: 0px;
  width: 100%;
  animation: appear 1s;
}

.sidepanel {
  height: 100%;
  width: 0;
  background-color: #222020;
  box-shadow: rgba(46, 204, 240, 0.1) -5px 0px,
    rgba(46, 204, 240, 0.05) -10px 0px;

  &.open {
    width: 300px;
  }
}

.fire {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.error {
  position: fixed;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6618d2;
  font-size: 40px;
  font-weight: 900;
  width: 100%;
  height: 100%;
}
@keyframes appear {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 0;
  }
}
