<div class="dash">
  <app-navbar #nav></app-navbar>
  <div class="content">
    <div class="content-left">
      <div class="switch">
        <input
          id="language-toggle"
          class="check-toggle check-toggle-round-flat"
          type="checkbox"
          [(ngModel)]="IsGeo"
        />
        <label for="language-toggle"></label>
        <span class="off">ქარ</span>
        <span class="on">EN</span>
      </div>
      <app-progressbar></app-progressbar>
      <div class="quiz-wrapper">
        <app-test
          [questionForms]="IsGeo ? questionForms : questionFormsLat"
          [images]="IsGeo ? images : imagesLat"
        ></app-test>
      </div>
    </div>

    <div class="content-right">
      <div class="sidepanel" [ngClass]="{ open: nav.showFiller }">
        <app-dictionary></app-dictionary>
      </div>
    </div>
  </div>

  <app-fire
    class="fire"
    *ngIf="(testState.emptyLives | async) === true"
  ></app-fire>
  <div *ngIf="loading" class="background"></div>
  <app-loader *ngIf="loading" class="loader"></app-loader>
</div>
