.component {
  .count {
    padding: 40px;
    p {
      color: white;
      font-weight: 600;
    }
  }
  .question {
    margin-top: 50px;
    p {
      color: white;
      font-size: 24px;
    }
  }
}
