<ng-container *ngFor="let test of quiz; index as i">
  <div class="component" *ngIf="currentStep === i">
    <div class="count centered-flex">
      <p>{{ i + "/" + quiz.length }}</p>
    </div>
    <div class="question centered-flex">
      <p>{{ test.question }}</p>
    </div>
    <div class="answers centered-flex">
      <div
        class="answer centered-flex"
        *ngFor="let answer of test.answers"
        (click)="onAnswer(i, test.answers.indexOf(answer))"
      >
        <img [src]="answer" />
      </div>
    </div>
    <div class="actions centered-flex"></div>
  </div>
</ng-container>
