.component {
  .count {
    padding: 30px;
    p {
      color: white;
      font-weight: 600;
    }
  }
  .question {
    margin-top: 20px;
    p {
      color: white;
      font-size: 24px;
    }
  }
  .answers {
    flex-wrap: wrap;
    gap: 13%;
    max-width: 700px;
    margin: 40px auto;
    row-gap: 20px;
    .answer {
      width: 290px;
      height: 200px;
      background: white;
      border-radius: 8px;
      cursor: pointer;
      &.isGif img {
        width: 148px;
        height: 150px;
        object-fit: cover;
        object-position: 7% 25%;
      }
      &:hover {
      }
      &.correct {
        background-color: #8ad488;
      }
      &.incorrect {
        background-color: red;
      }
    }
  }
}
