<div class="dictionary">
  <div class="dictionary__search">
    <form [formGroup]="dictionary">
      <input formControlName="search" #input type="text" />
    </form>
  </div>
  <hr />

  <ng-container *ngFor="let word of wordsData; let index = index">
    <button
      class="dictionary__item"
      *ngIf="search && search.value !== null && word.includes(search.value)"
      [disabled]="index > 2"
    >
      {{ word }}
      <i class="fa-regular fa-eye"></i>
    </button>
  </ng-container>
</div>
