.header {
  width: 100%;
  height: 64px;

  background-color: #222020;
  animation: glow 3s infinite ease-out;
  position: relative;
  box-shadow: rgb(0 0 0) 0px -1px 4px 0px inset;
}

@keyframes glow {
  // 0% {
  //   box-shadow: rgb(0 0 0) 0px -1px 4px 0px inset,
  //     rgba(160, 167, 168, 0.23) 0px 1px 6px 0px;
  // }
  // 50% {
  //   box-shadow: rgb(0 0 0) 0px -1px 4px 0px inset,
  //     rgba(44, 182, 203, 0.4) 0px 3px 24px 0px;
  // }
  // 100% {
  //   box-shadow: rgb(0 0 0) 0px -1px 4px 0px inset,
  //     rgba(160, 167, 168, 0.23) 0px 1px 6px 0px;
  // }
}
